
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

footer{
    height: 50px;
}

body {
    background-image: url("assets/media/vids/river.png");
    background-color: gray;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

p {
    font-size: 18px;
}

#bg-vid {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.cta-box{
    height: 300px;
    max-width: 500px;
}

.title-text{
    line-height: 1.2em;
    letter-spacing: 0.35em;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.bold{
    font-weight: bold;
}

.footer-copyright{
    margin-right: 30px;
}
.email-box{
    border-bottom: 1px solid #ffffff!important;
    width: 250px!important;
}

.input-field label {
    left: 4.0rem!important;
}